<div class="home-container">
  <app-slider 
    [title]="'Canals en directe'" 
    [items]="liveChannels"
    [numVisible]="4"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
    [circular]="true"
    [autoplayInterval]="0"
    [showIndicators]="true"
  >
  </app-slider>
  <app-slider 
  [title]="'Canals en directe'" 
  [items]="liveChannels"
  [numVisible]="4"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
  [autoplayInterval]="0"
  [showIndicators]="true"
>
</app-slider>
<app-slider 
[title]="'Canals en directe'" 
[items]="liveChannels"
[numVisible]="4"
[numScroll]="1"
[responsiveOptions]="responsiveOptions"
[circular]="true"
[autoplayInterval]="0"
[showIndicators]="true"
>
</app-slider>
</div>
