/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/fonts/Merriweather/static/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/fonts/Merriweather/static/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/Roboto_Mono/static/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/Roboto_Mono/static/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}


body {
    margin: 0;
    font-family: sans-serif;
  }

/* Aplica estilos al contenedor de indicadores */
.line-indicators {
  /* si quieres centrarlo o darle margen */
  display: flex;
  justify-content: center; 
  margin-top: 1rem!important;
}

/* Aplica estilos a cada indicador individual (li) */
.line-indicators .p-carousel-indicator {
  width: 30px;
  height: 4px;
  background-color: #ccc;
  margin: 0 4px;
  cursor: pointer;
}

/* Indicador activo */
.p-carousel-indicator-active{
  background-color: #221B7D!important;
}

.p-carousel-item {
  flex: 0 0 25% !important;
  max-width: 25% !important;
}

.item-card > .card > .position-relative {
  height: 240px!important;
  overflow: hidden;
}
